<<<<<<< HEAD
<aside id="krw-about" class="widget widget-kratos-about clearfix">
    <div class="photo-background"></div>
    <div class="photo-wrapper clearfix">
        <div class="photo-wrapper-tip text-center">
            <img class="about-photo" src="<%= theme.avatarUri %>" />
        </div>
    </div>
    <div class="textwidget">
        <p class="text-center"><%- config.description %></p>
    </div>
=======
<aside id="krw-about" class="widget widget-kratos-about clearfix">
    <div class="photo-background"></div>
    <div class="photo-wrapper clearfix">
        <div class="photo-wrapper-tip text-center">
            <img class="about-photo" src="<%= theme.avatarUri %>" />
        </div>
    </div>
    <div class="textwidget">
        <p class="text-center"><%- config.description %></p>
    </div>
>>>>>>> 2143c2b87fc69e61113829da03e865f7bce4c8ff
</aside>